/*
============================================
; Title: Assignment 7 - Javazon
; Author: Professor Krasso
; Date: 12/04/2021
; Modified By: Saw Phaung
; Description: This program demonstrates the
; use of JavaScript types, values, and
; variables in an application.
;===========================================
*/

.app-header {
  font-size: 28px;
  text-align: center;
  font-weight: 400;
}

/* Overwrite Styling */
