/*
============================================
; Title: Assignment 2.2
; File Name: phaung-payroll.css
; Author: Professor Krasso
; Date: 10/30/2021
; Modified By: Saw Phaung
; Description: This program demonstrates the
; use of JavaScript types, values, and
; variables in an application.
;===========================================
*/

.app-header {
  font-size: 28px;
  text-align: center;
  font-weight: 400;
}
