/*
============================================
; Title: Assignment 6 - in-N-Out-Books
; Author: Professor Krasso
; Date: 11/23/2021
; Modified By: Saw Phaung
; Description: This program demonstrates the
; use of JavaScript types, values, and
; variables in an application.
;===========================================
*/

.app-header {
  font-size: 28px;
  text-align: center;
  font-weight: 400;
}

/* Overwrite Styling */
.card .card-content {
  font-size: 28px;
}

/* Books Table */
table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 30px;
}

th {
  background-color: #4f3674;
  color: #fff;
  text-align: left;
}

tr {
  transition: all 0.3s ease;
}

th,
td {
  padding: 12px 10px;
  border: 1px solid #ddd;
}

tr:hover {
  background-color: #d6a800;
  color: #4f3674;
  cursor: pointer;
}
